<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link para meu CSS -->
    <link rel="stylesheet" type="text/css" href="../css/artesaos.css">

    <!-- CDN Fontawesome -->
    <script src="https://kit.fontawesome.com/cdb42214fe.js" crossorigin="anonymous"></script>

    <!-- Título da página -->
    <title>Da Raíz aos Frutos Alagoanos - Artesãos</title>
</head>
<body>
    <header class="cabecalho">
        <figure>
            <img src="../imagens/logo.png" alt="Logomarca do projeto">
        </figure>

        <nav class="menu">
            <ul class="navList">
                <li><a href="#">Entrar</a></li>

                <div class="dropdown">
                    <button class="dropbtn">
                        Cadastrar-se 
                        <i class="fa-solid fa-caret-down"></i>
                    </button>

                    <div class="dropdown-content">
                      <a href="../views/cadUser.html">Como Usuário</a>
                      <a href="../views/cadArtista.html">Como Artista</a>
                    </div>
                </div>
            </ul>
        </nav>
	</header>

    <section class="containerSidebar">
        <div class="area"></div>
        <nav class="main-menu">
            <ul>
                <li>
                    <a href="../index.html">
                        <lord-icon
                            src="https://cdn.lordicon.com/etqbfrgp.json"
                            trigger="hover"
                            colors="outline:#000000,primary:#b4b4b4,secondary:#545454,tertiary:#b26836,quaternary:#b4b4b4"
                            style="width:60px;height:60px">
                        </lord-icon>
                        <span class="nav-text">Home</span>
                    </a>
                </li>
                <li>
                    <a href="artistas.html">
                        <lord-icon
                            src="https://cdn.lordicon.com/dqxvvqzi.json"
                            trigger="hover"
                            colors="outline:#000000,primary:#f4b69c,secondary:#848484"
                            style="width:60px;height:60px">
                        </lord-icon>
                        <span class="nav-text">Artistas</span>
                    </a>
                </li>
                <li>
                    <a href="artesaos.html">
                        <lord-icon
                            src="https://cdn.lordicon.com/alzqexpi.json"
                            trigger="hover"
                            colors="primary:#000000,secondary:#242424,tertiary:#848484,quaternary:#e4e4e4,quinary:#b4b4b4"
                            style="width:60px;height:60px">
                        </lord-icon>
                        <span class="nav-text">Artesãos</span>
                    </a>
                </li>
                <li>
                    <a href="Escritores.html">
                        <lord-icon
                        src="https://cdn.lordicon.com/qtqvorle.json"
                        trigger="hover"
                        colors="outline:#121331,primary:#646e78,secondary:#ebe6ef,tertiary:#4cb4fd"
                        style="width:60px;height:60px">
                    </lord-icon>
                        <span class="nav-text">Escritores</span>
                    </a>
                </li>
                <li>
                    <a href="fotografos.html">
                        <lord-icon
                            src="https://cdn.lordicon.com/mxddzdmt.json"
                            trigger="hover"
                            colors="outline:#121331,primary:#3a3347,secondary:#646e78,quaternary:#08a88a,quinary:#ffc738,senary:#ebe6ef"
                            style="width:60px;height:60px">
                        </lord-icon>
                        <span class="nav-text">Fotográfos</span>
                    </a>
                </li>
                <li>
                    <a href="pintores.html">
                        <lord-icon
                        src="https://cdn.lordicon.com/kfutqnjo.json"
                        trigger="hover"
                        colors="primary:#f9c9c0,secondary:#000000"
                        style="width:60px;height:60px">
                    </lord-icon>
                        <span class="nav-text">Pintores</span>
                    </a>
                </li>
                <li>
                    <a href="musicos.html">
                        <lord-icon
                            src="https://cdn.lordicon.com/ommvariz.json"
                            trigger="hover"
                            colors="primary:#4bb3fd,secondary:#c6c6c6,tertiary:#bababa,quaternary:#3a3347,quinary:#ebe6ef"
                            style="width:60px;height:60px">
                        </lord-icon>
                        <span class="nav-text">Músicos</span>
                    </a>
                </li>
            </ul>
            <ul class="logout">
                <li>
                    <a href="#">
                        <lord-icon
                            src="https://cdn.lordicon.com/twopqjaj.json"
                            trigger="hover"
                            colors="primary:#000000,secondary:#b4b4b4,tertiary:#f9c9c0,quaternary:#848484,quinary:#545454,senary:#a66037,septenary:#ede0d4"
                            style="width:60px;height:60px">
                        </lord-icon>
                        <span class="nav-text">Sair</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>

    <main>
        <!-- Criando banner relacionado ao tema -->
        <section class="banner"></section>

        <section class="container">
            <section>

                <!-- Criando efeito de imagem para obras -->
                <section class="sectEfeito">
                    <figure>
                        <img src="../imagens/Artesaos/obra-arlindo.jpg" alt="Arlindo Monteiro">

                        <img src="../imagens/Artesaos/obra-vania.jpg" alt="Vânia Oliveira">

                        <img src="../imagens/Artesaos/obra-marta.jpg" alt="Marta Arruda">

                        <img src="../imagens/Artesaos/obra-vania2.jpg" alt="Vânia Oliveira">

                        <img src="../imagens/Artesaos/obra-marta2.jpg" alt="Marta Arruda">

                        <img src="../imagens/Artesaos/obra-edna1.jpg" alt="Edna Maurício">
                    </figure>
                </section>

                <h1 class="tituloPage" id="Artesãos">
                    <span>Artesãos</span>
                    <lord-icon
                        src="https://cdn.lordicon.com/alzqexpi.json"
                        trigger="hover"
                        colors="primary:#000000,secondary:#242424,tertiary:#848484,quaternary:#e4e4e4,quinary:#b4b4b4"
                        style="width:60px;height:60px">
                    </lord-icon>
                </h1>

                <!-- Criando container para os cards de Artesãos -->
                <div class="cards">
                    <div class="card">

                        <!-- Colocando imagem no css -->
                        <div class="imgCard imgArlindo"></div>

                        <div class="textCard">
                            <h2>Arlindo Monteiro</h2>

                            <p>
                                Arlindo, originário de Pernambuco e há 43 anos residente em Maceió, começou sua carreira artística trabalhando com várias matérias-primas, como pedra, barro e madeira. No entanto, ele alcançou reconhecimento ao criar minuciosas miniaturas realistas utilizando palitos de fósforo. Sua paixão pela arte surgiu na infância, ao observar escultores locais.
                            </p>

                            <button class="btnCard">
                                <a href="#" target="_blank">Ver mais</a>
                            </button>
                        </div>
                    </div>

                    <div class="card">

                        <!-- Colocando imagem com css -->
                        <div class="imgCard imgVania"></div>

                        <div class="textCard">
                            <h2>Vânia Oliveira</h2>

                            <p>Mestra Imortal pela Organização de Folclore e Artes Populares, Mestre Artesã pelo Programa do Artesanato Brasileiro e Patrimônio Vivo do Estado pela Secretária de cultura do estado de Alagoas.</p>

                            <button class="btnCard">
                                <a href="" target="_blank">Ver mais</a>
                            </button>
                        </div>
                    </div>

                    <div class="card">

                        <!-- Colocando imagem com css -->
                        <div class="imgCard imgMarta"></div>

                        <div class="textCard">
                            <h2>Marta Arruda</h2>

                            <p>Marta Arruda é a primeira mulher soldadora de Alagoas e a arte entra por acaso em sua vida. Começou a trabalha com solda na oficina de um amigo mas só fez sua primeira escultura durante uma greve que ocorreu na construtora Mendes Júnior, onde trabalhava na época e conta: “Meus colegas começaram a fazer churrasqueiras e eu decidi fazer um enfeite para minha casa.”</p>

                            <button class="btnCard">
                                <a href="" target="_blank">Ver mais</a>
                            </button>
                        </div>
                    </div>

                    <div class="card">

                        <!-- Colocando imagem com css -->
                        <div class="imgCard imgEdna"></div>

                        <div class="textCard">
                            <h2>Edna Maurício</h2>
                            <p>Edna Maurício é artesã maceioense e tem seus trabalhos voltados para a área de corte e costura na confecção de bolsas, mais especificamente com o reaproveitamento de jeans. Em suas palavras o jeans é um tecido jovial, e ela tenta, ao máximo, colocar em evolução seus projetos. </p>

                            <button class="btnCard">
                                <a href="" target="_blank">Ver mais</a>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <footer class="rodape">
        <ul class="redes">
            <li><a href="#" target="_blank" title="Twitter"><img src="../imagens/contatos/iconTwitter.webp" class="imgSocial"></a></li>
            <li><a href="#" target="_blank" title="Facebook"><img src="../imagens/contatos/iconFacebook.png" class="imgSocial"></a></li>
            <li><a href="#" target="_blank" title="Instagram"><img src="../imagens/contatos/iconInstagram.png" class="imgSocial"></a></li>
        </ul>
        <p>Copyright &copy; 2023 - Senac Alagoas.</p>
        <figure>
            <img src="../imagens/logo.png" alt="Imagem Teste1" title="Logomarca" class="imgLogo" />
        </figure>
    </footer>


    <!-- Script LordIcon -->
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
</body>
</html>
