<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link para meu CSS -->
    <link rel="stylesheet" type="text/css" href="../css/musicos.css">

    <!-- CDN Fontawesome -->
    <script src="https://kit.fontawesome.com/cdb42214fe.js" crossorigin="anonymous"></script>

    <!-- Título da página -->
    <title>Da Raíz aos Frutos Alagoanos - Músicos</title>
</head>
<body>
    <header class="cabecalho">
        <figure>
            <img src="../imagens/logo.png" alt="Logomarca do projeto">
        </figure>

        <nav class="menu">
            <ul class="navList">
                <li><a href="#">Entrar</a></li>

                <div class="dropdown">
                    <button class="dropbtn">
                        Cadastrar-se 
                        <i class="fa-solid fa-caret-down"></i>
                    </button>

                    <div class="dropdown-content">
                      <a href="../views/cadUser.html">Como Usuário</a>
                      <a href="../views/cadArtista.html">Como Artista</a>
                    </div>
                </div>
            </ul>
        </nav>
	</header>

    <section class="containerSidebar">
        <div class="area"></div>
        <nav class="main-menu">
            <ul>
                <li>
                    <a href="../index.html">
                        <lord-icon
                            src="https://cdn.lordicon.com/etqbfrgp.json"
                            trigger="hover"
                            colors="outline:#000000,primary:#b4b4b4,secondary:#545454,tertiary:#b26836,quaternary:#b4b4b4"
                            style="width:60px;height:60px">
                        </lord-icon>
                        <span class="nav-text">Home</span>
                    </a>
                </li>
                <li>
                    <a href="artistas.html">
                        <lord-icon
                            src="https://cdn.lordicon.com/dqxvvqzi.json"
                            trigger="hover"
                            colors="outline:#000000,primary:#f4b69c,secondary:#848484"
                            style="width:60px;height:60px">
                        </lord-icon>
                        <span class="nav-text">Artistas</span>
                    </a>
                </li>
                <li>
                    <a href="artesaos.html">
                        <lord-icon
                            src="https://cdn.lordicon.com/alzqexpi.json"
                            trigger="hover"
                            colors="primary:#000000,secondary:#242424,tertiary:#848484,quaternary:#e4e4e4,quinary:#b4b4b4"
                            style="width:60px;height:60px">
                        </lord-icon>
                        <span class="nav-text">Artesãos</span>
                    </a>
                </li>
                <li>
                    <a href="Escritores.html">
                        <lord-icon
                        src="https://cdn.lordicon.com/qtqvorle.json"
                        trigger="hover"
                        colors="outline:#121331,primary:#646e78,secondary:#ebe6ef,tertiary:#4cb4fd"
                        style="width:60px;height:60px">
                    </lord-icon>
                        <span class="nav-text">Escritores</span>
                    </a>
                </li>
                <li>
                    <a href="fotografos.html">
                        <lord-icon
                            src="https://cdn.lordicon.com/mxddzdmt.json"
                            trigger="hover"
                            colors="outline:#121331,primary:#3a3347,secondary:#646e78,quaternary:#08a88a,quinary:#ffc738,senary:#ebe6ef"
                            style="width:60px;height:60px">
                        </lord-icon>
                        <span class="nav-text">Fotográfos</span>
                    </a>
                </li>
                <li>
                    <a href="pintores.html">
                        <lord-icon
                        src="https://cdn.lordicon.com/kfutqnjo.json"
                        trigger="hover"
                        colors="primary:#f9c9c0,secondary:#000000"
                        style="width:60px;height:60px">
                    </lord-icon>
                        <span class="nav-text">Pintores</span>
                    </a>
                </li>
                <li>
                    <a href="musicos.html">
                        <lord-icon
                            src="https://cdn.lordicon.com/ommvariz.json"
                            trigger="hover"
                            colors="primary:#4bb3fd,secondary:#c6c6c6,tertiary:#bababa,quaternary:#3a3347,quinary:#ebe6ef"
                            style="width:60px;height:60px">
                        </lord-icon>
                        <span class="nav-text">Músicos</span>
                    </a>
                </li>
            </ul>
            <ul class="logout">
                <li>
                    <a href="#">
                        <lord-icon
                            src="https://cdn.lordicon.com/twopqjaj.json"
                            trigger="hover"
                            colors="primary:#000000,secondary:#b4b4b4,tertiary:#f9c9c0,quaternary:#848484,quinary:#545454,senary:#a66037,septenary:#ede0d4"
                            style="width:60px;height:60px">
                        </lord-icon>
                        <span class="nav-text">Sair</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>

    <main>
        <!-- Criando banner relacionado ao tema -->
        <section class="banner"></section>

        <section class="container">
            <section>

                <!-- Criando efeito de imagem para obras -->
                <section class="sectEfeito">
                    <figure>
                        <img src="../imagens/musicos/letra-1.png" alt="Letra da música de Djavan">

                        <img src="../imagens/musicos/letra-2.png" alt="Letra da música 'Mar de Luz' da banda Vibrações">

                        <img src="../imagens/musicos/letra-3.png" alt="Letra da música 'Freestyle' da Danny Bond">

                        <img src="../imagens/musicos/letra-4.png" alt="Letra da música 'Razões' da Ana Lôbo">

                        <img src="../imagens/musicos/letra-5.png" alt="Letra da música 'Fotografias' da Banda Fascínio">

                        <img src="../imagens/musicos/letra-6.png" alt="Letra da música 'Ela É Linda' do Vitinho Imperador">
                    </figure>
                </section>

                <h1 class="tituloPage" id="Artesãos">
                    <span>Músicos</span>
                    <lord-icon 
                        src="https://cdn.lordicon.com/ommvariz.json"     trigger="hover" 
                        colors="primary:#4bb3fd,secondary:#121331,tertiary:#646e78,quaternary:#3a3347,quinary:#ebe6ef" style="width:50px;height:50px">
                    </lord-icon>
                </h1>

                <!-- Criando container para os cards de Artesãos -->
                <div class="cards">
                    <div class="card">

                        <!-- Colocando imagem no css -->
                        <div class="imgCard imgDjavan"></div>

                        <div class="textCard">
                            <h2>Djavan Caetano</h2>

                            <p>
                                Djavan Caetano Viana nasceu no dia 27 de janeiro de 1949, em Maceió, Alagoas. Conhecido como um dos maiores nomes da MPB, foi com a Som Livre que ele gravou seu álbum de estreia, A voz, o Violão, a Música de Djavan (1976), e logo de cara já lançou um dos maiores sucessos de toda a sua carreira, Flor de Lis.
                            </p>

                            <button class="btnCard">
                                <a href="#" target="_blank">Ver mais</a>
                            </button>
                        </div>
                    </div>

                    <div class="card">

                        <!-- Colocando imagem com css -->
                        <div class="imgCard imgNelson"></div>

                        <div class="textCard">
                            <h2>Nelson da Rabeca</h2>

                            <p>
                                Nelson dos Santos, conhecido como Nelson da Rabeca, nasceu 12 de março de 1941 - Maceió, 22 de abril de 2022. Foi um rabequista, acordeonista e compositor brasileiro, natural de Alagoas.
                            </p>

                            <button class="btnCard">
                                <a href="" target="_blank">Ver mais</a>
                            </button>
                        </div>
                    </div>

                    <div class="card">

                        <!-- Colocando imagem com css -->
                        <div class="imgCard imgVibrações"></div>

                        <div class="textCard">
                            <h2>Vibrações</h2>

                            <p>
                                Vibrações é uma banda nascida na cidade de Maceió-AL, no ano de 1998. Sua identidade a partir da junção do reggae original jamaicano com o hibridismo que compõe o cenário musical brasileiro, mais especificamente o nordestino.
                            </p>

                            <button class="btnCard">
                                <a href="" target="_blank">Ver mais</a>
                            </button>
                        </div>
                    </div>

                    <div class="card">

                        <!-- Colocando imagem com css -->
                        <div class="imgCard imgDanny"></div>

                        <div class="textCard">
                            <h2>Danny Bond</h2>

                            <p>
                                Daniela Barros, mais conhecida pelo seu nome artístico Danny Bond, mas se intitula como Rainha do Jacintinho, bairro de Maceió Alagoas, é uma cantora, rapper, compositora e dançarina.
                            </p>

                            <button class="btnCard">
                                <a href="" target="_blank">Ver mais</a>
                            </button>
                        </div>
                    </div>

                    <div class="card">

                        <!-- Colocando imagem com css -->
                        <div class="imgCard imgAnaLobo"></div>

                        <div class="textCard">
                            <h2>Ana Lôbo</h2>

                            <p>
                                Com 24 anos de carreira, Ana Lôbo é uma das cantoras mais renomadas no estado de Alagoas e Nordeste. Passou por várias bandas dentre elas: Pura Sedução, Face Nova, Banda Neblina, Xulé de cobra, Internautas do Forró, Mano Walter e Banda Forrozão das Antigas.
                            </p>

                            <button class="btnCard">
                                <a href="" target="_blank">Ver mais</a>
                            </button>
                        </div>
                    </div>

                    <div class="card">

                        <!-- Colocando imagem com css -->
                        <div class="imgCard imgBandaFascinio"></div>

                        <div class="textCard">
                            <h2>Banda Fascínio</h2>

                            <p>
                                Emplacar o romantismo por onde passa tem sido um dos objetivos da Banda Fascínio. Com um repertório próprio, que impressiona pela qualidade e pelas letras marcantes, a banda é liderada por um grupo de três vocalistas formado por Remy Ruan, Ricardo Martins e Iris Ventura.
                            </p>

                            <button class="btnCard">
                                <a href="" target="_blank">Ver mais</a>
                            </button>
                        </div>
                    </div>

                    <div class="card">

                        <!-- Colocando imagem com css -->
                        <div class="imgCard imgVitinho"></div>

                        <div class="textCard">
                            <h2>Vitinho Imperador</h2>

                            <p>
                                Vitinho Imperador começou acompanhando o pai, que tocava em bares de Maceió, Alagoas, e desde muito cedo já tinha facilidade em compor músicas originais, diferenciadas e divertidas. O morador do bairro da Chã da jaqueira viu uma forma de usar as mídias sociais, durante a pandemia, que ele viu seu sonho ganhar novas formas.
                            </p>

                            <button class="btnCard">
                                <a href="" target="_blank">Ver mais</a>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <footer class="rodape">
        <ul class="redes">
            <li><a href="#" target="_blank" title="Twitter"><img src="../imagens/contatos/iconTwitter.webp" class="imgSocial"></a></li>
            <li><a href="#" target="_blank" title="Facebook"><img src="../imagens/contatos/iconFacebook.png" class="imgSocial"></a></li>
            <li><a href="#" target="_blank" title="Instagram"><img src="../imagens/contatos/iconInstagram.png" class="imgSocial"></a></li>
        </ul>
        <p>Copyright &copy; 2023 - Senac Alagoas.</p>
        <figure>
            <img src="../imagens/logo.png" alt="Imagem Teste1" title="Logomarca" class="imgLogo" />
        </figure>
    </footer>


    <!-- Script LordIcon -->
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
</body>
</html>
